:root{
  --color-white: #fff;
    --color-e0: #2B2E4A;
    --color-c2: #E84545;
    --color-4c: #A6E3E9;
    --color-2c: #71C9CE;
    --color-2c-transparent: rgba(44, 44, 44, 0.3);
    --color-1f: #1f1f1f;
    --color-red: #E84545;
}
